:root{
    --background: rgb(107, 107, 107);
    --ink-color: rgb(46, 46, 46);
    --border-color: rgb(192, 23, 23);
    --grid-size: calc(100% / 16);
}

#border{
    background-color: var(--border-color);
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 1%;
    padding-top: 4%;
    padding-bottom: 5%;
}

#knob-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#knobs{
    display: inline;
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    border: 10px dotted rgb(213, 213, 213);
    margin-top: 3%;
}

.left{
    align-self: flex-start;
}

.right{
    align-self: flex-end;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
}

.grid-square{
    background-color: var(--background);
    width: var(--grid-size);
    padding-bottom: var(--grid-size);
    flex: 0 0 auto;
    position: relative
}

.drawn-square{
    background-color: unset;
    background-color: var(--ink-color);
}

.button{
    background-color: #ffbd03;
    font-weight: bold;
    width: 300px;
    font-size: 1.2em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 15px;
}

body{
    text-align: center;
}

.shaking{
    animation: ease-in-out shake 0.5s;
}

@keyframes shake{
    0%{ transform: translateY(0) }
    25%{ transform: translateY(5px) }
    50%{ transform: translateY(-5px) }
    75%{ transform: translateY(5px) }
    1000%{ transform: translateY(0) }
}